/* .footer {
  /* min-height: 100px; */
  /* background: #E5E5E5;
  position: center; */
/* } */
/* 
.footer span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; */
  /* padding: 3px; */

/* } */ 

.footer {
  position: fixed;
  left: 0;
  bottom: 15px;
  width: 100%;
  color:black;
  text-align: center;
  margin: auto;
  padding: auto;
  font-family: 'New Tegomin', serif;
  font-size: 20px;
  background-color: white;
}
